.NoFlame {
    width: 100%;
    z-index: 5000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Pushes elements to edges */
    border: 1px solid rgba(0, 247, 255, 0.1);
    color: #fff;
    /* padding: 10px 5%; */
}

.logo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.name {
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid rgba(0, 247, 255, 0.1);
}

.date {
    position: absolute;
    /* position: sticky; */ 
    font-size: 2rem;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: 1px solid #00f7ff1a;
}

@media screen and (max-width: 768px) {  /* Adjust breakpoint if needed */
    .logo-name, .date {
        display: none;
    }
}