.NoFlame {
    width: 100%;
    z-index: 5000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Pushes elements to edges */
    color: #fff;
    padding: 10px 5%;
}

.logo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.name {
    font-weight: bold;
}

.date {
    position: absolute;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
